.works_details_warp{text-align:center;margin:0
auto}.padding_t100{padding-top:100px}.max-width-750{max-width:750px;display:inline-block;min-width:750px}.works_details_warp
.img_wallpaper{width:100%;margin-bottom:30px;height:600px;max-height:650px;overflow:hidden}.works_details_warp
.author{width:100%;height:32px;line-height:32px;padding-bottom:13px;text-align:left;position:relative;display:inline-block}.works_details_warp
.head_img{width:32px;height:32px;margin:0;display:inline-block;border-radius:35px;float:left;position:relative;top:-2px}.works_details_warp .head_img
img{border-radius:35px;width:32px;height:32px}.works_details_warp
.author_text{max-width:20em;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.works_details_warp .author_text
a{padding:0
0 0 5px;font-size:14px}.works_details_warp .author_text
span{font-size:12px;color:#999}.works_details_warp
.sns_box{float:right;font-size:12px;color:#b7b7b7}.works_details_warp
.sns_btn{margin-left:10px;display:inline-block;position:relative;top:2px}.works_details_warp
.indicate{font-size:12px;text-align:left}.works_details_warp .indicate
.clue{display:inline-block;width:2px;height:15px;background:url("../images/common/clue.jpg-v=1428674811.jpg") 0 center no-repeat;overflow:hidden;margin:0
10px;position:relative;top:4px}.works_details_warp .indicate
.price{color:#c1463e;font-size:12px;padding-right:5px}.works_details_warp .indicate
p{padding-bottom:14px}.works_details_warp
.works_d_label{line-height:20px;text-align:left}.works_details_warp .works_d_label
span{display:inline-block}.works_details_warp .works_d_label
.icon{display:inline-block;position:relative;top:2px}.works_details_warp .works_d_label span
a{padding:0
4px;display:inline-block;color:#069}.works_details_warp .works_d_label
.clue{display:inline-block;width:2px;height:15px;background:url("../images/common/clue.jpg-v=1428674811.jpg") 0 center no-repeat;overflow:hidden;margin:0
6px;position:relative;top:3px}.works_details_warp .works_d_label
.edit{display:inline-block;padding-right:10px}.works_details_warp .works_d_label
.delete{display:inline-block}.works_details_warp .works_d_label
.report{display:inline-block}.padding_b_50{padding-bottom:50px}.padding_b_60{padding-bottom:60px}.padding_b_20{padding-bottom:20px}.support_person{text-align:left;position:relative;width:100%}.support_person
.person_box{position:relative;top:-58px;left:126px;width:80%}.support_person
.head_p_btn{width:32px;height:32px;display:inline-block;border-radius:32px;margin:0
7px 20px 7px}.support_person .head_p_btn
img{width:32px;height:32px;border-radius:32px}.publish_review{width:100%}.publish_review
.review_text{position:relative;padding-bottom:20px}.publish_review .review_text
h2{font-size:18px;color:#2c2b2a;text-align:left}.publish_review .review_text
.right_nav{position:absolute;top:3px;right:0;display:inline-block;font-size:12px}.publish_review .review_text .right_nav
em{color:#999}.publish_review .review_text .right_nav
a{margin-left:10px}.publish_review .review_text .right_nav
.on{text-decoration:none;color:#c34241}.publish_review .review_warp
ul{border-top:1px solid #E8E8E8}.publish_review .review_warp ul
li{border-bottom:1px dotted #E8E8E8;position:relative;text-align:left}.publish_review .review_warp ul li
.head{display:inline-block;width:64px;margin-right:10px;height:64px;text-align:left;float:left}.publish_review .review_warp ul li .head
.imgbtn{border-radius:65px;overflow:hidden;display:inline-block;width:64px;height:64px}.publish_review .review_warp ul li .head
img{width:64px}.publish_review .review_warp ul
.bottom_none{border-bottom:none}.publish_review .review_warp ul
.review_text{max-width:67%;float:left}.publish_review .review_warp ul .review_text .t-links-blue{text-decoration:none;color:#069}.publish_review .review_warp ul .review_text h5
a{font-size:14px}.publish_review .review_warp ul .review_text h5
em{font-size:12px;color:#999;padding-left:3px}.publish_review .review_warp ul
.script{padding-top:15px;text-align:left}.publish_review .review_warp ul .script
.comma_left{width:16px;height:11px;display:inline-block;background:url("../images/common/comma.png-v=1428674811.png") no-repeat}.publish_review .review_warp ul .script
.comma_right{width:16px;height:11px;display:inline-block;background:url("../images/common/comma.png-v=1428674811.png") 0 -13px no-repeat}.publish_review .review_warp ul .script
.text{padding:0
10px;font-size:14px;color:#2c2b2a;line-height:24px}.publish_review .review_warp ul
.btn_bottom{width:80px;height:20px;position:absolute;right:0;bottom:20px;text-align:right}.publish_review .review_warp ul li.hover .btn_bottom
.btn{display:inline-block}.publish_review .review_warp ul .btn_bottom
.btn{width:20px;height:20px;margin-right:5px}.publish_review .review_warp ul .btn_bottom
.sigh_btn{background:url("../images/common/sigh.png-v=1428674811.png") no-repeat;display:none}.publish_review .review_warp ul .btn_bottom
.reply_btn{background:url("../images/common/reply.png-v=1428674811.png")no-repeat}.publish_review .review_warp ul .btn_bottom
.dumpster_btn{background:url("../images/common/dumpster.png-v=1428674811.png")no-repeat;display:none}.publish_review
.review_total{height:50px;line-height:50px;font-size:12px;text-align:center}.publish_review .review_total
.btn_ash{background:#f2f2ef;color:#999;font-size:12px;height:50px;line-height:50px}.review_warp
.text_forms{position:relative;text-align:left}.review_warp .text_forms
.input_textarea{width:99%;height:30px;max-height:140px;line-height:30px;font-family:Helvetica,Arial,sans-serif}.review_warp .text_forms .create-option_tex{top:8px}.account_sns{width:250px;position:absolute;top:0;right:-5px;text-align:right;font-size:14px}.account_sns
.btn{width:32px;height:32px;display:inline-block;background:url("../images/common/icon.png-v=1428674811.png")no-repeat;margin:8px
6px 0 6px}.account_sns
.btn_icon_wb{background-position:0 -193px}.account_sns
.btn_icon_db{background-position:-66px -193px}.account_sns
.btn_icon_tw{background-position:-132px -193px}.account_sns
.btn_icon_fb{background-position:-165px -193px}.account_sns
.btn_icon_pt{background-position:-198px -193px;margin:6px
0 0 6px}.account_sns
span{padding-top:15px}.review_warp .account_sns
.fl{text-align:right;display:inline-block}.max-width-1000{max-width:1000px;display:inline-block;width:100%}.max-width-1000
.btn_big{height:60px;line-height:60px;background:#F2F2F0;color:#bfbdb8;font-size:18px}.margin_10_40{margin:10px
15px 40px 15px}.shut_warp{width:32px;height:32px;display:inline-block;position:absolute;top:20px;right:20px}.container_a_100
.shut_warp{width:64px;height:64px;display:inline-block;position:absolute;top:20px;right:20px}.works_details_warp
.footer{margin:0
15px}.max-width-640{max-width:640px;display:inline-block;margin:0
auto}.text_detail
.title{width:100%;text-align:left}.text_detail .title
h2{font-size:36px;color:#2c2b2a;padding-bottom:20px;text-align:center;width:100%;word-wrap:break-word;word-break:normal;font-weight:bold;font-family:"Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"宋体"}.text_detail .title
h4{color:#bfbdb8;font-size:24px;padding:0
0 30px 0;text-align:center;width:100%;word-wrap:break-word;word-break:normal}.text_detail
.author{padding:13px
0 15px 0}.works_details_warp .text_detail .author_text
span{color:#bfbdb8}.text_detail
.border_lr{border:1px
solid #E8E8E8;border-left:none;border-right:none;text-align:center;font-size:12px}.text_detail
.script_introduce{text-align:left;padding-bottom:20px;padding-top:30px}.text_detail .script_introduce
p{font-size:16px}.text_detail
.italic_text{padding:30px
0}.text_detail .italic_text
p{font-size:16px;font-style:italic;color:#2c2b2a;line-height:30px}.text_detail
.normal_text{padding:0px
0 40px 0;width:640px;color:#2c2b2c;font-size:16px}.text_detail .normal_text
h2{font-size:18px;color:#2c2b2a}.text_detail .normal_text
p{color:#2c2b2a;line-height:normal;padding:0;word-wrap:break-word;word-break:normal;font-size:16px}.text_detail .normal_text
h1{font-size:16px;height:inherit;color:#2c2b2a;font-style:italic;font-family:"仿宋";padding:10px
0 0 0;margin:0}.text_detail .normal_text
h2{font-size:18px;font-weight:bold;height:inherit;font-family:"黑体";color:#2c2b2a;padding-top:30px;margin:0}.text_detail .normal_text
a{text-decoration:none}.text_detail
p{font-size:16px;padding-top:0;color:#2c2b2a;margin:0}.text_detail
ol{padding:30px
20px;padding-bottom:0;margin:0}.text_detail ol
li{list-style:decimal outside none;margin:0}.text_detail
ul{padding:30px;padding-bottom:0;margin:0}.text_detail ul
li{list-style:disc outside none;margin:0}.text_detail
blockquote{padding:0
0 0 15px;margin:30px
0 0 15px;border-left:5px solid #eee}.text_detail
blockquote{border-color:#ddd;border-color:rgba(0,0,0,0.15);margin:0}.text_detail blockquote
p{padding:10px
0;margin:0}.text_detail{font-size:16px}.normal_text
ol{padding:10px
30px;padding-bottom:0;margin:0
13px}.normal_text ol
li{list-style:decimal outside none;margin:0;word-wrap:break-word;word-break:normal}.normal_text
ul{padding:10px
34px;margin:0}.normal_text ul
li{list-style:disc outside none;margin:0;word-wrap:break-word;word-break:normal}.normal_text
blockquote{padding:0
0 0 15px;border-left:5px solid #eee}.normal_text
blockquote{border-color:#ddd;border-color:rgba(0,0,0,0.15);margin:10px
0}.normal_text blockquote
p{margin:0}.normal_text
p{line-height:24px;font-size:16px;padding-bottom:0;color:#2c2b2a;word-wrap:break-word;word-break:normal}.border_lr .author_a
.works_d_label{float:left;max-width:400px;position:relative;top:4px}.border_lr .author_a .works_d_label
.t_links_blue{padding-right:10px}.border_lr
.author_a{width:100%;min-height:32px;line-height:32px;text-align:left;position:relative;display:inline-block;padding:15px
0 10px 0}.text_detail
.support_person_a{padding-top:50px}.edit_utensil
a{color:#069;transition:border 0.1s linear 0s, color 0.1s linear 0s, background-color 0.1s linear 0s}.normal_text blockquote:before,blockquote:after,q:before,q:after{content:""}.normal_text blockquote,q{quotes:"" ""}.edit_utensil{padding-bottom:20px}.bottom_texts
h3{padding:20px;text-align:center;font-size:16px}.bottom_texts
p{line-height:30px;font-size:16px}.text_detail
.img_wrapper{table-layout:fixed;display:table;margin:10px
0}.text_detail .img_wrapper
.img{text-align:center;display:table-cell;vertical-align:middle}.padding_20{padding:20px
0}.normal_text
a{color:#069}.publish_review .review_warp ul
li{list-style:none}.publish_review .review_warp
ul{padding:0}.publish_review .review_warp ul
.review_text{padding:0}.publish_review .review_warp ul
.border_none{border:none}.review_warp
.account_sns{width:160px}.publish_review .text_forms
.input_textarea{width:606px;padding:4px
5px;height:28px;max-height:140px;float:left;overflow:auto;min-height:30px}.publish_review
.btnBox{width:120px;float:left;margin-left:10px}.support_person
.support_btn{min-height:62px}.text_detail .footer .footer_left
p{color:#CCC;font-size:12px}.text_detail .normal_text
p{margin-bottom:18px}.text_detail .normal_text
div{margin-bottom:18px}.text_detail .normal_text
.margin_b18{margin-bottom:18px}.text_detail .normal_text b, .text_detail .normal_text
strong{font-weight:bold;font-style:inherit}.text_detail .normal_text i, .text_detail .normal_text
em{font-style:italic;font-weight:inherit}.text_detail .normal_text i b, .text_detail .normal_text em
b{font-weight:bold;font-style:italic}.text_detail .normal_text b i, .text_detail .normal_text b
em{font-weight:bold;font-style:italic}.text_detail .normal_text strong i, .text_detail .normal_text strong
em{font-weight:bold;font-style:italic}.edui-editor-body .edui-body-container
h1{padding-bottom:0}.edui-editor-body .edui-body-container
h2{padding-bottom:0}.edui-editor-body .edui-body-container
h3{padding-bottom:0}.edui-editor-body .edui-body-container
h4{padding-bottom:0}.edui-editor-body .edui-body-container
h5{padding-bottom:0}.edui-editor-body .edui-body-container
h6{padding-bottom:0}.edui-editor-body .edui-body-container{padding:15px}.article .edui-body-container
a{color:#069;text-decoration:none;cursor:pointer}.edui-dialog-container .edui-image-wrapper
ul{list-style:none}.article .edui-body-container
ol{padding-top:10px}.article .resume .edit_utensil_style ul
li{font-size:16px}.edui-dialog-image-body .edui-image-wrapper .edui-tab-nav
li{list-style:none outside none}.article .edui-dialog-container .edui-modal-header
h3{padding:0;color:#333}.article .edui-tab-nav .edui-tab-item.edui-active .edui-tab-text{padding:2px
12px}.article .edui-tab-nav .edui-tab-item .edui-tab-text{padding:2px
12px}.article .edui-tab-nav{padding:0}.article .edui-image-wrapper{margin:15px}.article .edui-dialog-image .edui-image-dragTip{text-shadow:none}.container_a_100 .arrow—up
.btn{width:24px;height:44px;display:inline-block;background:url("../images/icons_2x.png-v=1428674811.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1428674811*/ -408px -226px no-repeat;background-size:1266px 587px}.container_a_100 .arrow—low
.btn{width:24px;height:44px;display:inline-block;background:url("../images/icons_2x.png-v=1428674811.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1428674811*/-442px -226px no-repeat;background-size:1266px 587px}.container_a_100 .arrow—up{position:fixed;top:50%;left:4%;margin-top:-22px;z-index:30}.container_a_100 .arrow—low{position:fixed;top:50%;right:4%;margin-top:-22px;z-index:30}.container_a_100 .not
.btn{opacity:0.3;background:url("../images/icons_2x.png-v=1428674811.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1428674811*/ -408px -226px no-repeat;background-size:1266px 587px;cursor:default}.container_a_100 .not
.btn_a{opacity:0.3;background:url("../images/icons_2x.png-v=1428674811.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1428674811*/-442px -226px no-repeat;background-size:1266px 587px;cursor:default}.label_tag{display:inline-block;padding-left:24px;background:url("../images/Icon/tag/tag_2x.png-v=1428674811.png")/*tpa=http://js.artand.cn/images/Icon/tag/tag_2x.png?v=1428674811*/ 0 2px no-repeat;background-size:16px 13px}.publish_review .text_forms
.border_on{border:1px
solid #3eaf36}.review_warp .text_forms
.create_option_name{color:#3eaf36;font-size:14px;left:8px;line-height:24px;position:absolute;top:6px;max-width:120px}.text_detail .normal_text
img{max-width:640px;display:block;margin:0
auto}.profile_content .about .publish_review .mod_blockquote
p{padding:0
25px 0 0}.bottom_texts .label_tag
a{font-size:12px;position:relative;top:-5px;padding-right:6px}.label_tag
a{font-size:12px;position:relative;top:-5px;padding-right:6px;text-decoration:none;color:#069}.article .normal_text
div{color:#2c2b2a;font-size:16px;line-height:2em;word-break:normal;word-wrap:break-word}.touch{padding:0
0 10px 15px;text-align:left;position:relative}.touch
.bulb_off{display:inline-block;padding:3px
10px;border:1px
solid #e1e1e1;color:#333;line-height:20px}.touch .bulb_off:hover{color:#3eaf36;border:1px
solid #3eaf36}.works_details_warp
.artid_span{width:auto;color:#069;text-decoration:none}.works_details_warp .works_d_label .report
span{width:16px;height:16px;display:inline-block;background:url("../images/new522/jubao_x.png")/*tpa=http://js.artand.cn/images/new522/jubao_x.png*/ 0 0 no-repeat;position:relative;top:4px;margin-right:5px;opacity:0.6}.works_details_warp .works_d_label .report:hover
span{opacity:1}@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 160dpi){.works_details_warp .works_d_label .report
span{background:url("../images/new522/jubao_2x.png")/*tpa=http://js.artand.cn/images/new522/jubao_2x.png*/ 0 0 no-repeat;background-size:16px 16px}.works_details_warp .works_d_label .report:hover
span{opacity:1;background:url("../images/new522/jubao_2x.png")/*tpa=http://js.artand.cn/images/new522/jubao_2x.png*/ 0 0 no-repeat;background-size:16px 16px}}.sns_box
.inputWarp{border:1px
solid #e1e1e1;padding:0
5px;box-sizing:border-box;height:24px;font-size:12px;line-height:24px;margin-right:5px;border-radius:3px}.support_person
.person_box{min-height:32px;position:relative}.support_person
.person_box{overflow:hidden;position:relative}.support_person .person_box
.unfold_btn{position:absolute;top:0;right:0}.support_person.on{height:auto;overflow:hidden}.support_person.on
.person_box{height:auto}.support_person.on .person_box
.unfold_btn{position:static}.unfold_btn{width:32px;height:32px;display:inline-block}.unfold_btn
span{display:block}.unfold_btn span
img{visibility:hidden}.unfold_on
.unfold_btn{background:url("../images/new604/unfold.png")/*tpa=http://js.artand.cn/images/new604/unfold.png*/ -2px -2px no-repeat}.unfold_on .unfold_btn:hover{background:url("../images/new604/unfold.png")/*tpa=http://js.artand.cn/images/new604/unfold.png*/ -36px -2px no-repeat}.support_person.on .person_box
.unfold_btn{background:url("../images/new604/unfold.png")/*tpa=http://js.artand.cn/images/new604/unfold.png*/ -70px -2px no-repeat}.support_person.on .person_box .unfold_btn:hover{background:url("../images/new604/unfold.png")/*tpa=http://js.artand.cn/images/new604/unfold.png*/ -104px -2px no-repeat}@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 160dpi){.unfold_on
.unfold_btn{background:url("../images/new604/unfold_2x.png")/*tpa=http://js.artand.cn/images/new604/unfold_2x.png*/ -2px -2px no-repeat;background-size:138px 36px}.unfold_on .unfold_btn:hover{background:url("../images/new604/unfold_2x.png")/*tpa=http://js.artand.cn/images/new604/unfold_2x.png*/ -36px -2px no-repeat;background-size:138px 36px}.support_person.on .person_box
.unfold_btn{background:url("../images/new604/unfold_2x.png")/*tpa=http://js.artand.cn/images/new604/unfold_2x.png*/ -70px -2px no-repeat;background-size:138px 36px}.support_person.on .person_box .unfold_btn:hover{background:url("../images/new604/unfold_2x.png")/*tpa=http://js.artand.cn/images/new604/unfold_2x.png*/ -104px -2px no-repeat;background-size:138px 36px}.on .person_box.unfold_on
.unfold_btn{background:url("../images/new604/unfold_2x.png")/*tpa=http://js.artand.cn/images/new604/unfold_2x.png*/ -70px -2px no-repeat;background-size:138px 36px}.container_a_100 .arrow—low .btn:hover{background:url("../images/icons_2x.png-v=1413698310.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1413698310*/-442px -278px no-repeat;background-size:1266px 587px}.container_a_100 .arrow—up .btn:hover{background:url("../images/icons_2x.png-v=1413698310.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1413698310*/ -408px -278px no-repeat;background-size:1266px 587px}}.on .person_box.unfold_on
.btn{border:none;background:#FFF}.on .person_box.unfold_on
.unfold_btn{background:url("../images/new604/unfold.png")/*tpa=http://js.artand.cn/images/new604/unfold.png*/ -70px -2px no-repeat}.support_person
img{vertical-align:top}.buying.do-message{padding-left:5px}.padding_r5{padding-right:5px}.works_details_warp .author
.author_text{padding-top:5px}.works_details_warp .max-width-750.text_detail .author
.author_text{padding-top:0px}.support_person{height:62px}.support_person
.person_box{height:32px;overflow:hidden}.support_person.on
.support_btn{overflow:inherit;height:auto}.support_person.on
.person_box{overflow:inherit;height:auto}.container_a_100 .arrow—low .btn:hover{background:url("../images/icons_2x.png-v=1413698310.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1413698310*/-442px -278px no-repeat;background-size:1266px 587px}.container_a_100 .arrow—up .btn:hover{background:url("../images/icons_2x.png-v=1413698310.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1413698310*/ -408px -278px no-repeat;background-size:1266px 587px}.works_details_warp .works_d_label .delete:hover{color:#e54837}.works_details_warp .author_text
a{max-width:8em;text-overflow:ellipsis;white-space:nowrap;float:left;overflow:hidden;display:inline-block}.publish_review .review_warp ul .review_text h5
a{max-width:8em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float:left}.publish_review .review_warp ul .review_text .t-links-blue{text-overflow:ellipsis;white-space:nowrap;display:inline-block}.publish_review .review_warp ul .review_text
h5{height:20px;line-height:20px}.publish_review .review_warp ul .review_text h5
em{float:left}.price-no{width:99px;height:20px;background:url("../images/publish/price_no.png")/*tpa=http://js.artand.cn/images/publish/price_no.png*/ no-repeat;background-size:99px 20px;font-size:12px;font-weight:300;color:#d04344;line-height:20px;text-align:center;display:inline-block;margin-top:0;vertical-align:top}.price-no-btn{width:15px;height:15px;background:url("../images/publish/instruction.png")/*tpa=http://js.artand.cn/images/publish/instruction.png*/ no-repeat;background-size:15px 15px;display:inline-block;margin-top:3px;vertical-align:top;margin-left:3px}.works_details_warp .author .author_text
.approve{margin-left:3px;padding:0;position:relative;top:3px}.works_details_warp .author .author_text
span{margin-left:3px}.works_details_warp .text_detail .author_text
.approve{margin:0
3px;padding:0;position:relative;top:6px}.review_btn{max-width:230px;width:180px;position:absolute;right:2px;text-align:right}.review_btn
.heart_a{position:static;float:right}.reply_a{padding:0
15px;height:26px;line-height:26px;border:1px
solid #e6e6e6;text-align:center;border-radius:15px;color:#2c2b2a;margin:0
5px;float:right;font-size:12px}.reply_a
span{width:14px;height:16px;display:inline-block;background:url("../images/common/reply.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/common/reply.png?v=1467720348*/ no-repeat;float:left;margin-top:4px;margin-right:5px}.reply_a:hover{border:1px
solid #3eaf36;color:#3eaf36}.reply_a:hover
span{background:url("../images/common/reply_hover.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/common/reply_hover.png?v=1467720348*/ no-repeat;background-size:14px 16px;border-style:1px solid red}.publish_review .review_warp ul .review_btn
.btn_bottom{width:100%;position:static;margin-top:15px;float:left}.review_warp .review_btn
.heart_a_on{float:right;position:static}.publish_review .review_warp ul .review_btn
.fl{height:30px;overflow:hidden;width:100%}.profile_content
.reply_a{padding:0
15px;height:26px;line-height:26px;border:1px
solid #e6e6e6;text-align:center;border-radius:15px;color:#2c2b2a;margin:0
5px;float:right;font-size:12px}.profile_content .reply_a:hover{border:1px
solid #3eaf36}.profile_content
.heart_a{border:1px
solid #e6e6e6;border-radius:15px;color:#e24233;font-size:11px;height:26px;line-height:26px;min-width:30px;padding:0
15px;text-align:center}.profile_content .heart_a
em{top:0;color:#e24233}.profile_content .heart_a:hover{border:1px
solid #e24233}.profile_content .heart_a:hover
em{color:#fff}.about .review_warp .review_btn .heart_a_on
em{top:0;color:#fff}.comment_list .review_btn .heart_a_on
em{top:0;!important}@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 160dpi){.surface_div_top
.icon_a{background:url("../images/icons_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1467720348*/ -327px -226px no-repeat;background-size:1266px 587px}.surface_div_top
.icon_b{background:url("../images/icons_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1467720348*/ -327px -272px no-repeat;background-size:1266px 587px}.surface_div_top
.icon_c{background:url("../images/icons_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1467720348*/ -327px -320px no-repeat;background-size:1266px 587px}.surface_div_top
.icon_d{background:url("../images/icons_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1467720348*/ -353px -226px no-repeat;background-size:1266px 587px}.surface_div_top
.icon_e{background:url("../images/icons_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1467720348*/ -358px -324px no-repeat;background-size:1266px 587px}.surface_div_top
.icon_f{background:url("../images/icons_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1467720348*/ -353px -272px no-repeat;background-size:1266px 587px}.profile_briefly
.compile_btn{background:url("../images/icons_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/icons_2x.png?v=1467720348*/ -720px -10px no-repeat;background-size:1266px 587px}.profile_content .edit_vitae
.e_icon{background:url("../images/Icon/news/Write_letter_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/Icon/news/Write_letter_2x.png?v=1467720348*/ no-repeat;background-size:26px 25px}.news_content ul li
.delete{background:url("../images/Icon/alter/delete_1_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/Icon/alter/delete_1_2x.png?v=1467720348*/ no-repeat;background-size:12px 16px}.reply_a
span{background:url("../images/common/reply_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/common/reply_2x.png?v=1467720348*/ no-repeat;background-size:14px 16px}.reply_a:hover
span{background:url("../images/common/reply_hover_2x.png-v=1467720348.png")/*tpa=http://js.artand.cn/images/common/reply_hover_2x.png?v=1467720348*/ no-repeat
background-size: 14px 16px;border-style:1px solid red}}