{% extends 'base.html' %}
{% block title %}DAYUart - 年轻人的艺术平台{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
<!--主页面主体-->
<div class="feed_warp clearfix" id="feed_list">
  <div class="left_feed">
    <div class="left_feed1">
      <div class="box_warp margin_b20 feed_row" data-uid="131">
        <div class="box">
          <div class="tp clearfix margin_b20">
            <div class="head margin_right15">
              <a class="btn" data-card-id="131" target="_blank" href="/info">
                <img data-src="//head.artand.cn/131/21/200" src="//head.artand.cn/131/21/200" style="display: inline-block;"></a>
            </div>
            <div class="text">
              <h3>
                <a class="btn t_links_blue padding_r3" target="_blank" data-card-id="131" href="/info">Artand官方账号</a>
                <a title="认证艺术家" data-card-id="131" class="approve-btn-a btn approve" href="/verify"></a>
                <a href="/about/collector" data-card-id="131" class="btn cGrade grade3"></a>
                <span>赞了
                  <a target="_blank" class="btn t_links_blue padding_lr3" href="/artid/567390">triggered cell</a>和另外1件作品</span></h3>
              <p class="padding_t9">6小时前</p></div>
            <div class="full opts_black_a" data-chat-type="8" data-uname="Artand官方账号" data-uid="131" data-chat-id="3832008,3793767"></div>
          </div>
          <div class="volist">
            <div class="tp cover vl clearfix  margin_b20">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/567390">
                  <img data-src="http://img7.yingworks.com/1O3Q/FvDeeIiFwBUiCgPKYOn9wl1jfFzj.jpg!c480" src="http://img7.yingworks.com/1O3Q/FvDeeIiFwBUiCgPKYOn9wl1jfFzj.jpg!c480" style="display: inline-block;"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/567390" class="black">triggered cell</a></h3>
                <p>
                  <a target="_blank" href="/jujuwang" data-card-id="430766" class="btn_ash_a btn">JUJU WANG</a>&nbsp;-&nbsp;2017年作品</p>
                <p>装置</p>
                <p>300×500×700cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/564158">
                  <img data-src="http://img7.yingworks.com/A0O/lvTSFNZFE-nsfwLmFcMq_uezQqbS.jpg!c480" src="http://img7.yingworks.com/A0O/lvTSFNZFE-nsfwLmFcMq_uezQqbS.jpg!c480" style="display: inline-block;"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/564158" class="black">空房间的独舞</a></h3>
                <p>
                  <a target="_blank" href="/sico" data-card-id="138434" class="btn_ash_a btn">徐世琨</a>&nbsp;-&nbsp;2017年作品</p>
                <p>油画</p>
                <p>120×90cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="margin_b20 more_btn_box">
              <a data-max="0" class="btn more_btn find_more" data-close="收起" data-text="查看更多" href="javascript:;">查看更多</a></div>
          </div>
        </div>
      </div>
      <div class="box_warp margin_b20 feed_row" data-uid="131">
        <div class="box">
          <div class="tp clearfix  margin_b20 ">
            <div class="head margin_right15">
              <a target="_blank" class="btn" data-card-id="131" href="/info">
                <img data-src="//head.artand.cn/131/21/200"></a>
            </div>
            <div class="text">
              <h3>
                <a target="_blank" class="btn t_links_blue padding_r3" data-card-id="131" href="/info">Artand官方账号</a>
                <a title="认证艺术家" data-card-id="131" class="approve-btn-a btn approve" href="/verify"></a>
                <a href="/about/collector" data-card-id="131" class="btn cGrade grade3"></a>
                <span>赞了
                  <a target="_blank" class="btn t_links_blue padding_lr3" data-card-id="433105" href="/uid/533105">Artand Space</a>的文章</span></h3>
              <div class="full opts_black_a" data-chat-type="8" data-uname="Artand官方账号" data-uid="131" data-chat-id="3831995"></div>
              <p class="padding_t9">6小时前</p></div>
          </div>
          <div class="volist">
            <div class="tp article_w clearfix margin_b20">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/article/1XwW">
                  <img data-src="http://img9.yingworks.com//1OFz/FojHJpRcw1g_wVSXFrqJaXLJYF43.jpg!c480"></a>
              </div>
              <div class="co_text co_text_off">
                <h3>
                  <a target="_blank" href="/article/1XwW" class="black">【展览征稿】《我来自一九九零》Artand“星未来”90后艺术家推介计划</a></h3>
                <p>如果你是90后艺术新星人不管绘画、雕塑或是摄影在10月13日前将你的原创作品及简历打包投递到space@artand.cn邮件以”艺术家姓名＋我来自1990“命名你将有机会入围到Artand“星未来”</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box_warp margin_b20 feed_row" data-uid="433105">
        <div class="box">
          <div class="tp clearfix margin_b20">
            <div class="head margin_right15">
              <a class="btn" data-card-id="433105" target="_blank" href="/uid/533105">
                <img data-src="//head.artand.cn/433105/89/200"></a>
            </div>
            <div class="text">
              <h3>
                <a class="btn t_links_blue padding_r3" target="_blank" data-card-id="433105" href="/uid/533105">Artand Space</a>
                <a title="认证机构" data-card-id="433105" class="approve-btn-c btn approve" href="/verify"></a>
                <span>赞了
                  <a target="_blank" class="btn t_links_blue padding_lr3" href="/artid/566624">寒床之湿地</a>和另外26件作品</span></h3>
              <p class="padding_t9">1天前</p></div>
            <div class="full opts_black_a" data-chat-type="8" data-uname="Artand Space" data-uid="433105" data-chat-id="3829028,3829026,3829023,3829020,3829013,3829006,3829003,3829000,3828997,3828993,3822691,3816117,3811205,3811203,3806291,3801741,3799891,3796647,3791879,3787742,3787741,3787740,3787739,3787734,3787434,3782517,3782454"></div>
          </div>
          <div class="volist">
            <div class="tp cover vl clearfix  margin_b20">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/566624">
                  <img data-src="http://img5.yingworks.com/kSI/Fp-1my1Wrnt7I_qmXcbOuqcw4aRE.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/566624" class="black">寒床之湿地</a></h3>
                <p>
                  <a target="_blank" href="/uid/180272" data-card-id="80272" class="btn_ash_a btn">林文</a>&nbsp;-&nbsp;2017年作品</p>
                <p>油画</p>
                <p>175×135cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/566910">
                  <img data-src="http://img7.yingworks.com/1Uje/Fsnvd0Og4jjaMX1Cx0FtU4kRq8d9.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/566910" class="black">《内向 2016 07 10》</a></h3>
                <p>
                  <a target="_blank" href="/zhangxiaotian" data-card-id="454784" class="btn_ash_a btn">张啸天</a>&nbsp;-&nbsp;2016年作品</p>
                <p>综合材料</p>
                <p>140×120cm</p>
                <p>价格保密</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/478434">
                  <img data-src="http://img8.yingworks.com/7pf/FrYzp9pnSLeBNbzta7pHEMKhqWNN.jpeg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/478434" class="black">能量方向</a></h3>
                <p>
                  <a target="_blank" href="/hexiaoli" data-card-id="28473" class="btn_ash_a btn">何晓</a>&nbsp;-&nbsp;2016年作品</p>
                <p>油画</p>
                <p>30×45cm</p>
                <p>售价：￥5,000.00</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/338399">
                  <img data-src="http://img6.yingworks.com/ks2/Fuat_wa00vnqMpLIUvlL7PDE74r7.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/338399" class="black">不适症</a></h3>
                <p>
                  <a target="_blank" href="/chenjinsheng" data-card-id="78618" class="btn_ash_a btn">陈金生</a>&nbsp;-&nbsp;2016年作品</p>
                <p>油画</p>
                <p>100×70cm</p>
                <p>价格保密</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/381697">
                  <img data-src="http://img6.yingworks.com/5ls/FlAO--9KunRBsUyeVpxFsHvdE7ZC.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/381697" class="black">镜像二</a></h3>
                <p>
                  <a target="_blank" href="/92ldob" data-card-id="20550" class="btn_ash_a btn">耿雪</a>&nbsp;-&nbsp;2016年作品</p>
                <p>油画</p>
                <p>170×200cm</p>
                <p>价格保密</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/335036">
                  <img data-src="http://img7.yingworks.com/Bvf/Fil5PJVRTMNHQ5xnHlOIsJ75NAqi.jpeg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/335036" class="black">我来到车水马龙的钟楼</a></h3>
                <p>
                  <a target="_blank" href="/lirol" data-card-id="144165" class="btn_ash_a btn">刘强</a>&nbsp;-&nbsp;2016年作品</p>
                <p>油画</p>
                <p>200×150cm</p>
                <p>售价：￥8,000.00</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/562680">
                  <img data-src="http://img8.yingworks.com/kSI/FtkTarV2OX5KWEDlttF1r1VlOMTP.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/562680" class="black">临渊</a></h3>
                <p>
                  <a target="_blank" href="/uid/180272" data-card-id="80272" class="btn_ash_a btn">林文</a>&nbsp;-&nbsp;2017年作品</p>
                <p>油画</p>
                <p>100×180cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/567136">
                  <img data-src="http://img7.yingworks.com/kSI/lsCRgBzrLTFzAqtRHQ2n1EmrcHap.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/567136" class="black">寒床之白日梦</a></h3>
                <p>
                  <a target="_blank" href="/uid/180272" data-card-id="80272" class="btn_ash_a btn">林文</a>&nbsp;-&nbsp;2016年作品</p>
                <p>油画</p>
                <p>280×200cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/567104">
                  <img data-src="http://img7.yingworks.com/1VmM/Fs0J7wHlYf3GADVvyIl6xAtZUfP8.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/567104" class="black">共生系列</a></h3>
                <p>
                  <a target="_blank" href="/uid/558848" data-card-id="458848" class="btn_ash_a btn">纪龙波</a>&nbsp;-&nbsp;2016年作品</p>
                <p>水彩</p>
                <p>29×38cm</p>
                <p>价格保密</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/567105">
                  <img data-src="http://img5.yingworks.com/1VmM/Fglq_HWGJcZTfmcXxW6QYTKXEIgm.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/567105" class="black">共生系列</a></h3>
                <p>
                  <a target="_blank" href="/uid/558848" data-card-id="458848" class="btn_ash_a btn">纪龙波</a>&nbsp;-&nbsp;2016年作品</p>
                <p>水彩</p>
                <p>29×38cm</p>
                <p>已售</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/122109">
                  <img data-src="http://img6.yingworks.com/fM/FgUUAsVbn1Cic7HCCxsMJvKVzoNR/39/0!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/122109" class="black">青气园·大家一齐嗨起来【限量版20张】</a></h3>
                <p>
                  <a target="_blank" href="/elonma" data-card-id="978" class="btn_ash_a btn">马伊隆</a>&nbsp;-&nbsp;2014年作品</p>
                <p>版画</p>
                <p>60×42cm</p>
                <p>售价：￥399.00</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/400413">
                  <img data-src="http://img6.yingworks.com/uz/FmZf99Tp6dg4-2uT4JrNiUVTmqmG.jpeg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/400413" class="black">Today</a></h3>
                <p>
                  <a target="_blank" href="/zangpeng" data-card-id="1895" class="btn_ash_a btn">臧鹏</a>&nbsp;-&nbsp;2016年作品</p>
                <p>油画</p>
                <p>80×120cm</p>
                <p>售价：￥20,000.00</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/565735">
                  <img data-src="http://img7.yingworks.com/kzj/Fse7BVD31viGT0VtTmwLhXHnUVjc.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/565735" class="black">穿行</a></h3>
                <p>
                  <a target="_blank" href="/cccn" data-card-id="79069" class="btn_ash_a btn">陈海俊</a>&nbsp;-&nbsp;2017年作品</p>
                <p>油画</p>
                <p>80×120cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/565733">
                  <img data-src="http://img7.yingworks.com/1Sfm/Fu-VmDPYgdUTHrMXqUoZVT9Y2kYY.png!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/565733" class="black">窥Peek</a></h3>
                <p>
                  <a target="_blank" href="/xiaofeiyue" data-card-id="446856" class="btn_ash_a btn">岳小飞</a>&nbsp;-&nbsp;2017年作品</p>
                <p>国画</p>
                <p>58×86cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/565363">
                  <img data-src="http://img8.yingworks.com/oe/FpfhC4YA8Pu4ihPvrts972AjRaKK.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/565363" class="black">望春秋</a></h3>
                <p>
                  <a target="_blank" href="/zhangxin" data-card-id="1502" class="btn_ash_a btn">张鑫</a>&nbsp;-&nbsp;2017年作品</p>
                <p>油画</p>
                <p>50×80cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/151714">
                  <img data-src="http://img6.yingworks.com/1WY/Fojmgoj6WVVilEXnyZ3IOSs2Mb--/17/0!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/151714" class="black">远方的寂静-4</a></h3>
                <p>
                  <a target="_blank" href="/zhangqinghui" data-card-id="7500" class="btn_ash_a btn">张庆慧</a>&nbsp;-&nbsp;2013年作品</p>
                <p>油画</p>
                <p>70×100cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/565061">
                  <img data-src="http://img6.yingworks.com/EqQ/FrgHHTKZKEr7ssenkJgt5STLbWit.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/565061" class="black">假寐</a></h3>
                <p>
                  <a target="_blank" href="/nezhatiaohai" data-card-id="155424" class="btn_ash_a btn">郭警</a>&nbsp;-&nbsp;2017年作品</p>
                <p>油画</p>
                <p>60×50cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/564430">
                  <img data-src="http://img7.yingworks.com/1V5P/FgbOSJ-pC-EqlyPQ73oAegpTcf0S.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/564430" class="black">裸与和平</a></h3>
                <p>
                  <a target="_blank" href="/guohaichao" data-card-id="457797" class="btn_ash_a btn">郭海潮</a>&nbsp;-&nbsp;2017年作品</p>
                <p>国画</p>
                <p>61×49cm</p>
                <p>非卖品</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/562162">
                  <img data-src="http://img6.yingworks.com/17l/Fvm5vrTbNy9_szabjYSmpOwpCYCC.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/562162" class="black">我的五彩双角面具</a></h3>
                <p>
                  <a target="_blank" href="/zhipeng" data-card-id="4299" class="btn_ash_a btn">崔志鹏</a>&nbsp;-&nbsp;2016年作品</p>
                <p>丙烯</p>
                <p>81×61cm</p>
                <p>售价：￥8,000.00</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/414365">
                  <img data-src="http://img7.yingworks.com/xFk/FovLq1F0p3wcPwMyMRj0yGQOWp-3.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/414365" class="black">繁星</a></h3>
                <p>
                  <a target="_blank" href="/luoqiang522" data-card-id="129414" class="btn_ash_a btn">罗蔷</a>&nbsp;-&nbsp;2013年作品</p>
                <p>素描</p>
                <p>37×53cm</p>
                <p>价格保密</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/414328">
                  <img data-src="http://img7.yingworks.com/xFk/lkD7kj2ALOuVICmvc0HoFvZe3BUj.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/414328" class="black">在梦的河流</a></h3>
                <p>
                  <a target="_blank" href="/luoqiang522" data-card-id="129414" class="btn_ash_a btn">罗蔷</a>&nbsp;-&nbsp;2015年作品</p>
                <p>素描</p>
                <p>53×77cm</p>
                <p>价格保密</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/561206">
                  <img data-src="http://img5.yingworks.com/1USS/Fvy26Xy0t1r2DXGpfDBwKOEGxyXc.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/561206" class="black">黑色 No.28</a></h3>
                <p>
                  <a target="_blank" href="/zhanjinjuan18" data-card-id="456994" class="btn_ash_a btn">战金娟</a>&nbsp;-&nbsp;2017年作品</p>
                <p>素描</p>
                <p>78×78cm</p>
                <p>售价：￥10,000.00</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/563856">
                  <img data-src="http://img7.yingworks.com/LTT/lscAkaV6Gbc5MhcfTjfyDW5P5yby.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/563856" class="black">半山</a></h3>
                <p>
                  <a target="_blank" href="/zhangmu" data-card-id="184133" class="btn_ash_a btn">张木</a>&nbsp;-&nbsp;2016年作品</p>
                <p>油画</p>
                <p>100×120cm</p>
                <p>售价：￥30,000.00</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/433156">
                  <img data-src="http://img8.yingworks.com/rHi/Fs04xTon23ykPoVsmVeG3I_w4-LR.jpeg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/433156" class="black">变了的风景</a></h3>
                <p>
                  <a target="_blank" href="/CAAET" data-card-id="106472" class="btn_ash_a btn">陈思佚</a>&nbsp;-&nbsp;2016年作品</p>
                <p>水彩</p>
                <p>45×39cm</p>
                <p>售价：￥1,500.00</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/562158">
                  <img data-src="http://img6.yingworks.com/17l/FhQfg50w28mne9eWAk-IogqRwIxN.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/562158" class="black">17歲的飛機頭</a></h3>
                <p>
                  <a target="_blank" href="/zhipeng" data-card-id="4299" class="btn_ash_a btn">崔志鹏</a>&nbsp;-&nbsp;2017年作品</p>
                <p>油画</p>
                <p>50×60cm</p>
                <p>售价：￥6,500.00</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/563470">
                  <img data-src="http://img5.yingworks.com/17l/FpEjcU9wX1GF9IesA9W_ifJxTxv-.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/563470" class="black">环</a></h3>
                <p>
                  <a target="_blank" href="/zhipeng" data-card-id="4299" class="btn_ash_a btn">崔志鹏</a>&nbsp;-&nbsp;2017年作品</p>
                <p>油画</p>
                <p>200×300cm</p>
                <p>价格保密</p>
              </div>
            </div>
            <div class="tp cover clearfix  margin_b20 vl hide">
              <div class="co_bj">
                <a target="_blank" class="btn" href="/artid/563285">
                  <img data-src="http://img6.yingworks.com/zZ6/Fro6sXNZSu-46qmLHgy6jEPOFtku.jpg!c480"></a>
              </div>
              <div class="co_text">
                <h3>
                  <a target="_blank" href="/artid/563285" class="black">苍白秘密</a></h3>
                <p>
                  <a target="_blank" href="/zhangailin" data-card-id="138328" class="btn_ash_a btn">张爱林</a>&nbsp;-&nbsp;2017年作品</p>
                <p>丙烯</p>
                <p>60×50cm</p>
                <p>价格保密</p>
              </div>
            </div>
            <div class="margin_b20 more_btn_box">
              <a data-max="0" class="btn more_btn find_more" data-close="收起" data-text="查看更多" href="javascript:;">查看更多</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ajax_load_more">
      <div class="text_forms discover_load">
        <a href="javascript:;" class="btn btn_big btn_ash load-more" data-url="/chat/home" title="查看更多">查看更多</a></div>
    </div>
  </div>
  <div class="right_feed ">
    <div class="right_f_warp animation">
      <div class="box_warp margin_b20 right_user height_129">
        <div class="right_fix box_warp_fix">
          <div class="name clearfix">
            <div class="head">
              <a class="btn" href="/uid/555222" title="137****5080">
                <img src="//head.artand.cn/455222/200"></a>
            </div>
            <div class="text">
              <div class="top">
                <div>
                  <a class="btn black" title="137****5080" href="/uid/555222">137****5080</a></div>
                <p>
                  <a class="btn href_gr" href="/uid/555222">artand.cn/uid/555222</a></p>
              </div>
            </div>
          </div>
          <div class="right_btn_f">
            <a class="btn btn_work" href="/write/index">
              <span class="icon"></span>发作品</a>
            <a target="_blank" class="btn margin_l2 btn_new" href="/uid/555222/article/write">
              <span class="icon"></span>发文章</a>
          </div>
        </div>
      </div>
      <div class="box_warp border_none margin_b20">
        <div class="meed_box">
          <div class="meed_a_box">
            <a class="btn stats_aid" target="_blank" data-aid="28" href="http://artand.cn/article/1XwW">
              <img src="https://shopjs.artand.cn/images/up/FmNNj86rt5LRhER0fyYGPRcj-3LE.jpeg" style="max-width:100%;width:300px;"></a>
          </div>
        </div>
      </div>
      <div class="box_warp margin_b20 height_374px">
        <div class="meed_box">
          <div class="meed_top">
            <p>推荐艺术家</p>
            <a class="more btn" href="/featured/recommend">更多</a></div>
          <div class="meed_row">
            <div class="meed_row_box clearfix border_b_d">
              <div class="head">
                <a href="/uid/199538" class="head_btn">
                  <img data-src="//head.artand.cn/99538/63/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="99538"></a>
              </div>
              <div class="text">
                <div class="top">
                  <div>
                    <a class="btn black" data-card-id="99538" href="/uid/199538">曹文华</a>
                    <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                  </div>
                  <p class="padding_t15">作品
                    <span class="red">15</span>，粉丝
                    <span class="red">182</span></p>
                </div>
              </div>
              <div class="gz_r_bt"></div>
            </div>
            <div class="meed_row_box clearfix border_b_d">
              <div class="head">
                <a href="/uid/551919" class="head_btn">
                  <img data-src="//head.artand.cn/451919/7800/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="451919"></a>
              </div>
              <div class="text">
                <div class="top">
                  <div>
                    <a class="btn black" data-card-id="451919" href="/uid/551919">陈颖</a>
                    <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                  </div>
                  <p class="padding_t15">作品
                    <span class="red">34</span>，粉丝
                    <span class="red">49</span></p>
                </div>
              </div>
              <div class="gz_r_bt"></div>
            </div>
            <div class="meed_row_box clearfix border_b_d">
              <div class="head">
                <a href="/lengxi" class="head_btn">
                  <img data-src="//head.artand.cn/137204/6/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="137204"></a>
              </div>
              <div class="text">
                <div class="top">
                  <div>
                    <a class="btn black" data-card-id="137204" href="/lengxi">林系</a>
                    <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                  </div>
                  <p class="padding_t15">作品
                    <span class="red">43</span>，粉丝
                    <span class="red">263</span></p>
                </div>
              </div>
              <div class="gz_r_bt"></div>
            </div>
            <div class="meed_row_box clearfix border_b_d">
              <div class="head">
                <a href="/chaotiejun" class="head_btn">
                  <img data-src="//head.artand.cn/63893/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="63893"></a>
              </div>
              <div class="text">
                <div class="top">
                  <div>
                    <a class="btn black" data-card-id="63893" href="/chaotiejun">晁铁军</a>
                    <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                  </div>
                  <p class="padding_t15">作品
                    <span class="red">90</span>，粉丝
                    <span class="red">2285</span></p>
                </div>
              </div>
              <div class="gz_r_bt"></div>
            </div>
            <div class="meed_row_box clearfix border_b_d hide">
              <div class="head">
                <a href="/Dyk395" class="head_btn">
                  <img data-src="//head.artand.cn/428400/4413/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="428400"></a>
              </div>
              <div class="text">
                <div class="top">
                  <div>
                    <a class="btn black" data-card-id="428400" href="/Dyk395">丁彦凯</a>
                    <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                  </div>
                  <p class="padding_t15">作品
                    <span class="red">50</span>，粉丝
                    <span class="red">1039</span></p>
                </div>
              </div>
              <div class="gz_r_bt"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="box_warp border_none margin_b20">
        <div class="meed_box">
          <div class="meed_a_box">
            <a class="btn stats_aid" data-aid="" href="http://artand.cn/mobile">
              <img src="https://shopjs.artand.cn/images/up/FiZNPUChceU4NuLre7gWElmH63dQ.jpeg" style="max-width:100%;width:300px;"></a>
          </div>
        </div>
      </div>
      <div class="box_warp margin_b20 right_share height_395" style="visibility:hidden;">
        <div class="two_code right_fix box_warp_fix"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


