<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Artand - 最专业的当代艺术社交平台</title>
    <meta name="keywords" content="动态,聊天,艺术朋友圈" />
    <meta name="description" content="在ARTAND动态中，你可以与大家分享你的所思所想，跟大家分享有趣的好玩的事情，还可以看到好友发布的更新和他们在Artand的动态。" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="dns-prefetch" href="//static.artandus.com">
    <link rel="dns-prefetch" href="//img5.artandus.com">
    <link rel="dns-prefetch" href="//img6.artandus.com">
    <link rel="dns-prefetch" href="//img7.artandus.com">
    <link rel="dns-prefetch" href="//img8.artandus.com">
    <link rel="dns-prefetch" href="//news.artandus.com">
    <script type="text/javascript">var isIE = navigator.userAgent.toLowerCase().search(/(msie\s|trident.*rv:)([\w.]+)/) != -1;
      if (isIE) {
        document.write("<link rel='stylesheet' href='//static.artand.cn/style/ie_hack/ie_hack.css?v=399778'\/>");
      }
      if (typeof JSON == "undefined") {
        document.write('<script type="text/javascript" src="http://lib.sinaapp.com/js/json2/json2.js"><\/scr' + 'ipt>');
      }</script>
    <!--[if lt IE 9]>
      <link rel='stylesheet' href='//static.artand.cn/style/ie_hack/ie_hack_8.css?v=399778' />
    <![endif]-->
    <meta name="format-detection" content="telephone=no" />
    <script type="text/javascript">var $CONF = {
        "uid": "455222",
        "role": "1",
        "uname": "137****5080",
        "domain": "",
        "head": "\/\/head.artand.cn\/455222\/64",
        "js_version": "949655",
        "css_version": "399778",
        "js_host": "\/\/static.artand.cn",
        "css_host": "\/\/static.artand.cn",
        "lang": "zh-cn",
        "is_login": true,
        "ch": "fXR1q6-letqxp3qtg3mBlIOMgt2wm6F2",
        "module_name": "index",
        "last_id": "3780411"
      };</script>
    <link rel='stylesheet' href='//js.artand.cn/concat/?f=common%2Fcommon.css%2Cpiece%2Fcommon.css%2Cplugin%2Fjquery.atwho.css%2CNo_cache%2Femoji_master%2Femoji.css%2Ccommon%2Flayer.css%2Ccommon%2FYellow_tip.css%2Ccommon%2Fbutton.css%2Cpiece%2Fpublisher.css%2Cpiece%2Flayer.css%2Cpiece%2Ffloating_layer.css%2Cpiece%2Fphiz.css%2Cpiece%2F2ximg_handle.css%2Ccommon%2Fimg_handle.css%2C2015%2Fnav_icon.css%2Capprove%2Fapprove.css%2Cnews%2Fprivate_letter.css%2Clang%2Fzh-cn%2Fcommon.css&b=style&v=399778' />
    <script type="text/tmpl" id="black_opts">< div > <div class = "m_sj" > <div class = "mB d7" > </div><div class="mB t7"></div ></div><div class="padding_10">
        	{@if uid == user_id}
				<a class="btn delete_chat" href="javascript:;" data-row-id="${chatId}" data-row-type="${chatType}">删除</a > {@
        else
      } < a class = "btn unlook_chat"href = "javascript:;"data - row - id = "${chatId}" > 我看过了 < /a><a class="btn unlike_chat" href="javascript:;" data-row-id="${chatId}">我不喜欢</a > <a class = "btn black_chat"href = "javascript:;"data - black - uname = "${uname}"data - black - uid = "${uid}" > 屏蔽他 < /a>			{@/
      if
    } < /div></div > </script>
    <script type="text/tmpl" id="chat_black_tmpl">< div class = "piece_content" > <div class = "msg_box" > <div class = "msg_top_black" > </div><div class="msg_close"><a title="关闭" class="close btn" href="javascript:;"></a ></div><div class="msg_content text_left"><h2 class="msg_h2 padding26">屏蔽确认</h2 > <div class = "text padding_b20" > <h3 > 确认屏蔽$ {
        uname
      }的动态吗？ < /h3><p>可以在<a class="t_links_blue" href="/setting / chat ">设置-动态设置-屏蔽中</a>“解除屏蔽”</p></div><div class="text_forms "><a href="javascript: ;
      " class="btn btn_small btn_ash x - cancel " title="取消">取消</a><a href="javascript: ;
      " class="btn btn_small btn_gray x - submit margin_left_10 " title="确定">确定</a></div></div></div></div>"</script>
    <script type="text/tmpl" id="anonymous_tmpl">< div class = "yellow_warp" > <div class = "yellow_bm" > <p > TA不想让你知道自己是谁！ < /p></div > <div class = "m_sj" > <div class = "mB d7" > </div></div ></div>/</script>
    <script type="text/tmpl" id="chat_img_dialog">< div class = "Height_100" > <div class = "piece_content Height_100" > <div class = "pg_layer" > <div class = "left_content" > <div class = "photos_lightbox_close" > <a href = "javascript:;"class = "btn cra_btn close_btn" > </a></div > <div class = "photos_lightbox" > <div class = "lightbox" > <div class = "img_wallpaper" > <div class = "imageContainer" > <div class = "img-warp image_list" > </div></div ></div>
									{@if _.length > 1}
									<div class="img-nav clearfix"><div class="img-nav_warp"><div class="img-ul-nav"><div class="img-nav-order page_nav"><i class="js-order current_num">1</i > <em class = "js-totalCount" > $ {
        _.length
      } < /em></div > <ul class = "clearfix thumb_nav" > {@each _ as it
      } < li > <img src = "http://chatart.qiniudn.com/${it}!c55.jpg"style = "display:none;" > <a href = "javascript:;" > </a></li > {@ / each
      } < /ul></div > </div></div > {@ /
        if
      } {@
        if _.length > 1
      } < p class = "hide page_nav" > <i class = "current_num" > 1 < /i><span>/ < /span>
										${_.length}
			                        </p > {@ /
        if
      } < /div><div class="spinner_loading sp_load"></div ></div>
							{@if _.length >1}
								<a href="javascript:;" class="btn last_btn prev_btn"></a > <a href = "javascript:;"class = "btn next_btn" ></a>
							{@/
      if
    } < /div><div class="right_dialog"><div class="r_dialog"><div class="box_warp feed_row"></div > </div></div > </div></div ></div>/</script>
    <script type="text/tmpl" id="qrcode_tmpl">< div class = "msg_box weixin" > <div class = "msg_close" > <a href = "javascript:;"class = "close btn"title = "关闭" > </a></div > <div class = "msg_content" > <div class = "msg_two_dimensional" > {@
        if is_wechat
      } < p class = "padding_bottom_10" > 用微信“ < span class = "red" > 扫一扫 < /span>”并分享到“<span class="red">朋友圈</span > ” < br > 请好朋友们来帮忙点赞！ < /p>
				{@/
      if
    } < div class = "img"style = "background-image:url(http://file.artand.com.cn/images/pic/qr.jpg)" ></div>
				{@if !is_wechat}
                <p>欢迎关注Artand微信公众帐号</p > {@
      if url
    } < div class = "Qr_code" > <a class = "btn"href = "${url}"target = "_blank" > 下载更多尺寸 < /a></div > {@ /
      if
    } {@ /
      if
    } < /div></div > </div>/</script>
    <script type="text/tmpl" id="card_teml">< div class = "carte_top" > <div class = "name_head" > <a href = "${user.domain}"class = "head_btn" > <img src = "${user.head}"class = "head" ></a>
			{@if user.is_verfiy >0}
            	{@if user.role == 1}<a title="认证艺术家" class="approve-btn-a btn approve" href="/verify "></a>
	            	{@else if user.role == 4}<a title="认证机构" class="approve - btn - c btn approve " href=" / verify "></a>
 	            	{@else if user.role == 6}<a title="认证评论家" class="critic btn " href=" / verify "></a>
            	{@/if}
            {@/if}
        </div>
		{@if isSafari}
		<h3><a href="$ {
        user.domain
      }
      " class="btn t_links_blue ">${user.uname}</a></h3><h3>
		    {@if user.rank && user.rank.id}
	            <a href=" / about / collector " class="btn cGrade grade$ {
        user.rank['id']
      }
      "></a>
            {@/if}
		</h3>
		{@else}
		<h3><a href="$ {
        user.domain
      }
      " class="btn t_links_blue ">${user.uname}</a>
            {@if user.rank && user.rank.id}
	            <a href=" / about / collector " class="btn cGrade grade$ {
        user.rank['id']
      }
      "></a>
            {@/if}
		</h3>
		{@/if}

		<h4 class="padding_t5 ">				{@if user.is_verfiy > 0}
					{@if user.role == 1}
						认证艺术家
						{@else if user.role == 4}
						认证艺术机构
					{@/if}
				{@/if}
				{@if user.rank && user.rank.id}
					<em>${user.rank.name}</em>
				{@/if}
		</h4>
		{@if (user.role == 1 || user.role == 4) && (user.num_work>0 || user.num_followed>0)}
			<h5>
				{@if user.num_work >0}
				<span>{@if user.role == 1}作品{@else}艺术家{@/if} ${user.num_work}</span>
				{@/if}
				{@if user.num_followed > 0}
				<span>粉丝 ${user.num_followed}</span>
				{@/if}
			</h5>
		{@/if}
    </div>
    {@if !is_owner}
    <div class="carte_next "><a class="btn gz_btn margin_left_10 do - follow " data-follow-uid="$ {
        user.uid
      }
      " href="javascript: ;
      " data-status="$ {
        is_follow
      }
      "> {@if is_follow == 10}<span class="hover "><i>-</i>取消</span><span class="label "><i>-</i>取消</span>{@else if is_follow == 11}<span class="hover ">取消关注</span><span class="label ">互相关注</span>{@else}<span><i>+</i>关注</span>{@/if}</a><a href="javascript: ;
      " class="btn gz_btn do - message " data-uname="$ {
        user.uname
      }
      " data-uid="$ {
        user.uid
      }
      ">发私信</a></div>
    {@/if}
"</script>
    <script type="text/tmpl" id="message_tmpl">< form class = "msg_box" > <div class = "msg_top_black" > </div><div class="msg_close"><a href="javascript:;" class="close btn" title="关闭"></a > </div><div class="msg_content"><h2 class="max-width300 msg_h2 write_h2"><span class="w_icon"></span > {@
        if _.title
      }
      $ {
        _.title
      } {@
        else
      }写信 {@ /
        if
      } < /h2><div class="max-width300 letter_warp {@if html}letter_warp_a{@/
      if
    }
    ">
	        {@if html}$${html}{@/if}
			<div class="text_forms margin_bottom_10 "><span class="create - option {@
      if uid
    }
    hide {@ /
      if
    }
    ">收信人，输入姓名快速检索</span>
                {@if uid}
				<span class="create_alternative "><input type="hidden " autocomplete="off " name="to_uid " value="$ {
      uid
    }
    "><span class="token ">
						${uname}
					<a class="token - close " href="javascript: ;
    ">×</a></span></span>
				{@/if}
	            <input type="text " class="input_text border_green uname placeholder width_96 " autocomplete="off "></div>
			{@if type}
				<input type="hidden " name="type " value="$ {
      type
    }
    ">			{@/if}
	        <div class="text_forms margin_bottom_10 "><span class="create - option_tex {@
      if msg
    }
    hide {@ /
      if
    }
    ">私信内容</span><textarea tabindex="0 " name="message " class="input_textarea placeholder width_97 ">{@if msg}${msg}{@/if}</textarea></div><div class="phiz on "><a href="javascript: ;
    " class="btn phiz_btn " title="表情"></a><a class="btn phiz_btn_a " href="javascript: ;
    "><input type="file "  accept="image
    /*" name="file" id="message_upload"></a><span class="img_name_span clearfix"><em class="name"></em><a title="删除" class="btn pic_delete" href="javascript:;">删除</a></span><a href="javascript:;" target="_blank" class="btn chat_history" style="display:none;">聊天记录</a></div><div class="text_forms margin_bottom_10"><a href="javascript:;" class="btn btn_small btn_ash reset" title="取消">取消</a><a href="javascript:;" class="btn btn_small btn_gray margin_left_10 submit" title="发送">发送</a></div></div></div></form>*/
    </script>
    <script type="text/html" id="more_follow_tmpl">< div class = "layer_box" > <div class = "layer_top_black" > </div><div class="layer_close"><a href="javascript:;" class="close btn" title="关闭"></a ></div><div class="layer_content"><h2 class="layer_h2 padding26">${uname}关注了${follow_num}个人</h2 > <div class = "max-width300" > <div class = "shield_list border_b_none" > <ul > {@each list as it,
        k
      } < li class = "clearfix" > <div class = "head clearfix" > <a href = "/${it.domain}" > <img src = "${it.head}" > </a></div > <h3 > <a href = "/${it.domain}"class = "btn t_links_black" > $ {
        it.uname
      } < /a>
							{@if it.is_verfiy == 1}
								{@if it.role == 1}
									<a class="approve-btn-a btn approve" title="认证艺术家" href="/featured "></a>
									{@else if it.role == 4}
									<a class="approve - btn - b btn approve " title="认证机构" href=" / featured / org "></a>
									{@else if it.role == 2}
									<a class="approve - btn - c btn approve " title="收藏家" href=" / "></a>
									{@else if it.role == 6}
									<a class="critic btn " title="评论家"  href=" / "></a>
								{@/if}
							{@/if}
							{@if it.uid != _.uid}
								<a href="javascript: ;
      " class="attract do - follow "  data-follow-uid="$ {
        it.uid
      }
      " href="javascript: ;
      " data-status="$ {
        it.is_follow
      }
      ">
		                        {@if it.is_follow == 10}
									<span class="hover "><em>-</em>取消</span><span class="label "><em>-</em>取消</span>
									{@else if it.is_follow == 11}
									 <span class="hover ">取消关注</span><span class="label ">互相关注</span>
									{@else}
									<span><i>+</i>关注</span>
								{@/if}
								</a>
							{@/if}
	                    </li>					{@/each}
                </ul></div><div class="text_forms margin_bottom_10 "><a title="关闭" class="btn btn_big btn_gray btn_close " href="javascript: ;
      ">关闭</a></div></div></div></div>"</script>
  </head>

  <body class="st-effect-2">
    <div id="st_container" class="st-container">
      <div class="site-nav-logo">
        <div class="st-pusher">
          <span class="icons-logo-aa" id="site_logo"></span>
        </div>
      </div>
      <div class="st-menu st-effect-2">
        <div class="site-nav">
          <div class="site-nav-scrollable-container">
            <ul class="site-nav-list">
              <li class="site-nav-list-item on">
                <a href="/" class="site-nav-list-item-btn home">
                  <span class="icons"></span>首页</a>
              </li>
              <li class="site-nav-list-item">
                <a class="site-nav-list-item-btn artist" href="/featured/recommend">
                  <span class="icons"></span>推荐关注</a>
              </li>
              <li class="site-nav-list-item">
                <a class="site-nav-list-item-btn featured" href="/featured">
                  <span class="icons"></span>必买清单</a>
              </li>
              <li class="site-nav-list-item">
                <a class="site-nav-list-item-btn search" href="/search">
                  <span class="icons"></span>搜索</a>
              </li>
              <li class="site-nav-list-item">
                <a href="/uid/555222" class="site-nav-list-item-btn">
                  <span class="icons icons-logo-head">
                    <img src="//head.artand.cn/455222/64"></span>137****5080</a>
              </li>
              <li class="site-nav-list-item">
                <a href="/stats" class="site-nav-list-item-btn count">
                  <span class="icons"></span>统计</a>
              </li>
              <li class="site-nav-list-item">
                <a href="/connection/follow" class="site-nav-list-item-btn relat">
                  <span class="icons"></span>联系人</a>
              </li>
              <li class="site-nav-list-item">
                <a href="/message/all" class="site-nav-list-item-btn news">
                  <span class="icons"></span>私信
                  <em class="red" id="message"></em></a>
              </li>
              <li class="site-nav-list-item">
                <a class="site-nav-list-item-btn order" href="/order/">
                  <span class="icons"></span>我的订单
                  <em class="red" id="message"></em></a>
              </li>
              <li class="site-nav-list-item">
                <a class="site-nav-list-item-btn noun_set" href="/setting/account">
                  <span class="icons"></span>设置</a>
              </li>
              <li class="site-nav-list-item">
                <a href="/public/lang?callback=%2F" class="site-nav-list-item-btn language">
                  <span class="icons"></span>Language</a>
              </li>
              <li class="site-nav-list-item">
                <a href="/mobile?callback=%2F" class="site-nav-list-item-btn APP">
                  <span class="icons"></span>下载APP</a>
              </li>
              <li class="site-nav-list-item border_none">
                <a href="/proxy/logout" class="site-nav-list-item-btn leave">
                  <span class="icons"></span>退出</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="st-pusher">
        <div class="st-content">
          <div class="site-nav-overlay"></div>
          <div class="discover_consumer">
            <div class="consumer">
              <div class="head">
                <a href="/uid/555222">
                  <img src="//head.artand.cn/455222/150"></a>
              </div>
              <div class="name">
                <a href="/uid/555222" class="t_links_blue">137****5080</a></div>
            </div>
          </div>
          <div class="piece_content max_width_920">
            <div class="warp">
              <div class="discover_warp padding_b_30">
                <div class="not_home_top">
                  <div>
                    <div class="language_c"></div>
                  </div>
                </div>
                <div class="contact_tab tabs">
                  <a class="btn  on" href="/" title="动态">
                    <span>News Feed</span></a>
                  <span class="clue horizontal">－</span>
                  <a href="/discover" class="btn">发现</a>
                  <span class="clue"></span>
                  <a href="/sale" class="btn">在售</a>
                  <span class="clue"></span>
                  <a href="/read" class="btn">阅读</a></div>
              </div>
              <div class="feed_warp clearfix" id="feed_list">
                <div class="left_feed">
                  <div class="left_feed1">
                    <div class="box_warp margin_b20 feed_row" data-uid="433105">
                      <div class="box">
                        <div class="tp clearfix margin_b20">
                          <div class="head margin_right15">
                            <a class="btn" data-card-id="433105" target="_blank" href="/uid/533105">
                              <img data-src="//head.artand.cn/433105/89/200"></a>
                          </div>
                          <div class="text">
                            <h3>
                              <a class="btn t_links_blue padding_r3" target="_blank" data-card-id="433105" href="/uid/533105">Artand Space</a>
                              <a title="认证机构" data-card-id="433105" class="approve-btn-c btn approve" href="/verify"></a>
                              <span>赞了
                                <a target="_blank" class="btn t_links_blue padding_lr3" href="/artid/122109">青气园·大家一齐嗨起来【限量版20张】</a>和另外26件作品</span></h3>
                            <p class="padding_t9">2小时前</p></div>
                          <div class="full opts_black_a" data-chat-type="8" data-uname="Artand Space" data-uid="433105" data-chat-id="3822691,3816117,3811205,3811203,3806291,3801741,3799891,3796647,3791879,3787742,3787741,3787740,3787739,3787734,3787434,3782517,3782454,3782439,3782372,3782116,3781341,3781340,3781260,3781259,3780653,3780603,3780602"></div>
                        </div>
                        <div class="volist">
                          <div class="tp cover vl clearfix  margin_b20">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/122109">
                                <img data-src="http://img6.yingworks.com/fM/FgUUAsVbn1Cic7HCCxsMJvKVzoNR/39/0!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/122109" class="black">青气园·大家一齐嗨起来【限量版20张】</a></h3>
                              <p>
                                <a target="_blank" href="/elonma" data-card-id="978" class="btn_ash_a btn">马伊隆</a>&nbsp-&nbsp2014年作品</p>
                              <p>版画</p>
                              <p>60×42cm</p>
                              <p>售价：￥399.00</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/400413">
                                <img data-src="http://img6.yingworks.com/uz/FmZf99Tp6dg4-2uT4JrNiUVTmqmG.jpeg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/400413" class="black">Today</a></h3>
                              <p>
                                <a target="_blank" href="/zangpeng" data-card-id="1895" class="btn_ash_a btn">臧鹏</a>&nbsp-&nbsp2016年作品</p>
                              <p>油画</p>
                              <p>80×120cm</p>
                              <p>售价：￥20,000.00</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/565735">
                                <img data-src="http://img7.yingworks.com/kzj/Fse7BVD31viGT0VtTmwLhXHnUVjc.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/565735" class="black">穿行</a></h3>
                              <p>
                                <a target="_blank" href="/cccn" data-card-id="79069" class="btn_ash_a btn">陈海俊</a>&nbsp-&nbsp2017年作品</p>
                              <p>油画</p>
                              <p>80×120cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/565733">
                                <img data-src="http://img7.yingworks.com/1Sfm/Fu-VmDPYgdUTHrMXqUoZVT9Y2kYY.png!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/565733" class="black">窥Peek</a></h3>
                              <p>
                                <a target="_blank" href="/xiaofeiyue" data-card-id="446856" class="btn_ash_a btn">岳小飞</a>&nbsp-&nbsp2017年作品</p>
                              <p>国画</p>
                              <p>58×86cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/565363">
                                <img data-src="http://img8.yingworks.com/oe/FpfhC4YA8Pu4ihPvrts972AjRaKK.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/565363" class="black">望春秋</a></h3>
                              <p>
                                <a target="_blank" href="/zhangxin" data-card-id="1502" class="btn_ash_a btn">张鑫</a>&nbsp-&nbsp2017年作品</p>
                              <p>油画</p>
                              <p>50×80cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/151714">
                                <img data-src="http://img6.yingworks.com/1WY/Fojmgoj6WVVilEXnyZ3IOSs2Mb--/17/0!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/151714" class="black">远方的寂静-4</a></h3>
                              <p>
                                <a target="_blank" href="/zhangqinghui" data-card-id="7500" class="btn_ash_a btn">张庆慧</a>&nbsp-&nbsp2013年作品</p>
                              <p>油画</p>
                              <p>70×100cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/565061">
                                <img data-src="http://img6.yingworks.com/EqQ/FrgHHTKZKEr7ssenkJgt5STLbWit.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/565061" class="black">假寐</a></h3>
                              <p>
                                <a target="_blank" href="/nezhatiaohai" data-card-id="155424" class="btn_ash_a btn">郭警</a>&nbsp-&nbsp2017年作品</p>
                              <p>油画</p>
                              <p>60×50cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/564430">
                                <img data-src="http://img7.yingworks.com/1V5P/FgbOSJ-pC-EqlyPQ73oAegpTcf0S.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/564430" class="black">裸与和平</a></h3>
                              <p>
                                <a target="_blank" href="/guohaichao" data-card-id="457797" class="btn_ash_a btn">郭海潮</a>&nbsp-&nbsp2017年作品</p>
                              <p>国画</p>
                              <p>61×49cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/562162">
                                <img data-src="http://img6.yingworks.com/17l/Fvm5vrTbNy9_szabjYSmpOwpCYCC.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/562162" class="black">我的五彩双角面具</a></h3>
                              <p>
                                <a target="_blank" href="/zhipeng" data-card-id="4299" class="btn_ash_a btn">崔志鹏</a>&nbsp-&nbsp2016年作品</p>
                              <p>丙烯</p>
                              <p>81×61cm</p>
                              <p>售价：￥8,000.00</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/414365">
                                <img data-src="http://img7.yingworks.com/xFk/FovLq1F0p3wcPwMyMRj0yGQOWp-3.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/414365" class="black">繁星</a></h3>
                              <p>
                                <a target="_blank" href="/luoqiang522" data-card-id="129414" class="btn_ash_a btn">罗蔷</a>&nbsp-&nbsp2013年作品</p>
                              <p>素描</p>
                              <p>37×53cm</p>
                              <p>价格保密</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/414328">
                                <img data-src="http://img7.yingworks.com/xFk/lkD7kj2ALOuVICmvc0HoFvZe3BUj.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/414328" class="black">在梦的河流</a></h3>
                              <p>
                                <a target="_blank" href="/luoqiang522" data-card-id="129414" class="btn_ash_a btn">罗蔷</a>&nbsp-&nbsp2015年作品</p>
                              <p>素描</p>
                              <p>53×77cm</p>
                              <p>价格保密</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/561206">
                                <img data-src="http://img5.yingworks.com/1USS/Fvy26Xy0t1r2DXGpfDBwKOEGxyXc.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/561206" class="black">黑色 No.28</a></h3>
                              <p>
                                <a target="_blank" href="/zhanjinjuan18" data-card-id="456994" class="btn_ash_a btn">战金娟</a>&nbsp-&nbsp2017年作品</p>
                              <p>素描</p>
                              <p>78×78cm</p>
                              <p>售价：￥10,000.00</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/563856">
                                <img data-src="http://img7.yingworks.com/LTT/lscAkaV6Gbc5MhcfTjfyDW5P5yby.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/563856" class="black">半山</a></h3>
                              <p>
                                <a target="_blank" href="/zhangmu" data-card-id="184133" class="btn_ash_a btn">张木</a>&nbsp-&nbsp2016年作品</p>
                              <p>油画</p>
                              <p>100×120cm</p>
                              <p>售价：￥30,000.00</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/433156">
                                <img data-src="http://img8.yingworks.com/rHi/Fs04xTon23ykPoVsmVeG3I_w4-LR.jpeg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/433156" class="black">变了的风景</a></h3>
                              <p>
                                <a target="_blank" href="/CAAET" data-card-id="106472" class="btn_ash_a btn">陈思佚</a>&nbsp-&nbsp2016年作品</p>
                              <p>水彩</p>
                              <p>45×39cm</p>
                              <p>售价：￥1,500.00</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/562158">
                                <img data-src="http://img6.yingworks.com/17l/FhQfg50w28mne9eWAk-IogqRwIxN.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/562158" class="black">17歲的飛機頭</a></h3>
                              <p>
                                <a target="_blank" href="/zhipeng" data-card-id="4299" class="btn_ash_a btn">崔志鹏</a>&nbsp-&nbsp2017年作品</p>
                              <p>油画</p>
                              <p>50×60cm</p>
                              <p>售价：￥6,500.00</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/563470">
                                <img data-src="http://img5.yingworks.com/17l/FpEjcU9wX1GF9IesA9W_ifJxTxv-.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/563470" class="black">环</a></h3>
                              <p>
                                <a target="_blank" href="/zhipeng" data-card-id="4299" class="btn_ash_a btn">崔志鹏</a>&nbsp-&nbsp2017年作品</p>
                              <p>油画</p>
                              <p>200×300cm</p>
                              <p>价格保密</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/563285">
                                <img data-src="http://img6.yingworks.com/zZ6/Fro6sXNZSu-46qmLHgy6jEPOFtku.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/563285" class="black">苍白秘密</a></h3>
                              <p>
                                <a target="_blank" href="/zhangailin" data-card-id="138328" class="btn_ash_a btn">张爱林</a>&nbsp-&nbsp2017年作品</p>
                              <p>丙烯</p>
                              <p>60×50cm</p>
                              <p>价格保密</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/208339">
                                <img data-src="http://img6.yingworks.com/iAx/FhYUkG0fpveNgpd1zsBQMn94AA7c.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/208339" class="black">桥</a></h3>
                              <p>
                                <a target="_blank" href="/uid/171457" data-card-id="71457" class="btn_ash_a btn">罗汉卿</a>&nbsp-&nbsp2015年作品</p>
                              <p>国画</p>
                              <p>20×60cm</p>
                              <p>价格保密</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/208323">
                                <img data-src="http://img7.yingworks.com/iAx/FtFch7_t6dGoM1Fz0ENbNlCI3zI5.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/208323" class="black">桥</a></h3>
                              <p>
                                <a target="_blank" href="/uid/171457" data-card-id="71457" class="btn_ash_a btn">罗汉卿</a>&nbsp-&nbsp2015年作品</p>
                              <p>国画</p>
                              <p>20×120cm</p>
                              <p>价格保密</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/209833">
                                <img data-src="http://img8.yingworks.com/hSb/FoJYIrMn4zyG9qjz5xij1TIhx-kQ.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/209833" class="black">无题</a></h3>
                              <p>
                                <a target="_blank" href="/sosliang" data-card-id="68707" class="btn_ash_a btn">李昂</a>&nbsp-&nbsp2015年作品</p>
                              <p>国画</p>
                              <p>已售</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/410696">
                                <img data-src="http://img8.yingworks.com/DDs/FmrSx9mEJW3q2q1JyvJ85dt5RdOM.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/410696" class="black">盒子 零 Box zero</a></h3>
                              <p>
                                <a target="_blank" href="/zhangxiaoli" data-card-id="152362" class="btn_ash_a btn">张小黎 Zhang Xiaoli</a>&nbsp-&nbsp2016年作品</p>
                              <p>国画</p>
                              <p>26×26cm</p>
                              <p>已售</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/557845">
                                <img data-src="http://img5.yingworks.com/1Vj/Fv41TOv9dudObo2ltm6WuY76LrFq.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/557845" class="black">《被讥讽的殉道者》</a></h3>
                              <p>
                                <a target="_blank" href="/zhengzicheng" data-card-id="7397" class="btn_ash_a btn">郑梓程</a>&nbsp-&nbsp2017年作品</p>
                              <p>油画</p>
                              <p>60×40cm</p>
                              <p>已售</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/562879">
                                <img data-src="http://img7.yingworks.com/1NFY/lj-5jsY_KXlj2xEoEQOqrbx1bI6Z.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/562879" class="black">独舞曲2</a></h3>
                              <p>
                                <a target="_blank" href="/uid/529286" data-card-id="429286" class="btn_ash_a btn">邓彩萍</a>&nbsp-&nbsp2015年作品</p>
                              <p>综合材料</p>
                              <p>45×25cm</p>
                              <p>售价：￥4,000.00</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/557861">
                                <img data-src="http://img6.yingworks.com/1Vj/lvU6etggQbBBgIAAnLfqH9z5Yji9.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/557861" class="black">《老李的道理》</a></h3>
                              <p>
                                <a target="_blank" href="/zhengzicheng" data-card-id="7397" class="btn_ash_a btn">郑梓程</a>&nbsp-&nbsp2017年作品</p>
                              <p>装置</p>
                              <p>120×120×10cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/563390">
                                <img data-src="http://img8.yingworks.com/17l/FnLdGy29Bwi9GP5BMtcUDi6FDadD.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/563390" class="black">无题</a></h3>
                              <p>
                                <a target="_blank" href="/zhipeng" data-card-id="4299" class="btn_ash_a btn">崔志鹏</a>&nbsp-&nbsp2017年作品</p>
                              <p>综合材料</p>
                              <p>56×45cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/545138">
                                <img data-src="http://img6.yingworks.com/1Tvq/FmtAaaDtRkhTZLj3XCJ6WUP5Jjel.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/545138" class="black">随风而去13</a></h3>
                              <p>
                                <a target="_blank" href="/qiuqingyun" data-card-id="451696" class="btn_ash_a btn">邱卿云</a>&nbsp-&nbsp2014年作品</p>
                              <p>综合材料</p>
                              <p>29×19cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="tp cover clearfix  margin_b20 vl hide">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/546673">
                                <img data-src="http://img7.yingworks.com/1Tvq/FtemLkManK-iqQYBOb2dD0fOqr0w.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/546673" class="black">每天都在幻想自己变成超人2</a></h3>
                              <p>
                                <a target="_blank" href="/qiuqingyun" data-card-id="451696" class="btn_ash_a btn">邱卿云</a>&nbsp-&nbsp2017年作品</p>
                              <p>综合材料</p>
                              <p>60×80cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                          <div class="margin_b20 more_btn_box">
                            <a data-max="0" class="btn more_btn find_more" data-close="收起" data-text="查看更多" href="javascript:;">查看更多</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="box_warp margin_b20 feed_row" data-uid="131">
                      <div class="box">
                        <div class="tp clearfix margin_b20">
                          <div class="head margin_right15">
                            <a class="btn" data-card-id="131" target="_blank" href="/info">
                              <img data-src="//head.artand.cn/131/21/200"></a>
                          </div>
                          <div class="text">
                            <h3>
                              <a class="btn t_links_blue padding_r3" target="_blank" data-card-id="131" href="/info">Artand官方账号</a>
                              <a title="认证艺术家" data-card-id="131" class="approve-btn-a btn approve" href="/verify"></a>
                              <a href="/about/collector" data-card-id="131" class="btn cGrade grade3"></a>
                              <span>赞了
                                <a target="_blank" class="btn t_links_blue padding_lr3" data-card-id="138434" href="/sico">徐世琨</a>的作品</span></h3>
                            <p class="padding_t9">5天前</p></div>
                          <div class="full opts_black_a" data-chat-type="8" data-uname="Artand官方账号" data-uid="131" data-chat-id="3793767"></div>
                        </div>
                        <div class="volist">
                          <div class="tp cover vl clearfix  margin_b20">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/564158">
                                <img data-src="http://img7.yingworks.com/A0O/lvTSFNZFE-nsfwLmFcMq_uezQqbS.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/564158" class="black">空房间的独舞</a></h3>
                              <p>
                                <a target="_blank" href="/sico" data-card-id="138434" class="btn_ash_a btn">徐世琨</a>&nbsp-&nbsp2017年作品</p>
                              <p>油画</p>
                              <p>120×90cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box_warp margin_b20 feed_row" data-uid="">
                      <div class="box">
                        <div class="tp clearfix margin_b20">
                          <div class="head margin_right15">
                            <a target="_blank" class="btn" data-card-id="433105" href="/uid/533105">
                              <img data-src="//head.artand.cn/433105/89/200"></a>
                          </div>
                          <div class="text">
                            <h3>
                              <a target="_blank" class="btn t_links_blue padding_r3" data-card-id="433105" href="/uid/533105">Artand Space</a>
                              <a title="认证机构" data-card-id="433105" class="approve-btn-c btn approve" href="/verify"></a>
                              <span>赞了
                                <a target="_blank" class="btn t_links_blue padding_lr3" data-card-id="79036" href="/dxwd">邓相伟</a>的作品</span></h3>
                            <p class="padding_t9">7天前</p></div>
                          <div class="full opts_black_a" data-chat-type="8" data-uname="Artand Space" data-uid="433105" data-chat-id="3781263"></div>
                        </div>
                        <div class="volist">
                          <div class="tp cover vl clearfix  margin_b20">
                            <div class="co_bj">
                              <a target="_blank" class="btn" href="/artid/563396">
                                <img data-src="http://img7.yingworks.com/kyM/FpWh9Ryx9AxfVOAnBPspiGYx_7aD.jpg!c480"></a>
                            </div>
                            <div class="co_text">
                              <h3>
                                <a target="_blank" href="/artid/563396" class="black">香溪洞</a></h3>
                              <p>
                                <a target="_blank" href="/dxwd" data-card-id="79036" class="btn_ash_a btn">邓相伟</a>&nbsp-&nbsp2017年作品</p>
                              <p>油画</p>
                              <p>100×200cm</p>
                              <p>非卖品</p>
                            </div>
                          </div>
                        </div>
                        <div class="tp praise clearfix padding_b5">
                          <div class="p_like_test">
                            <p>他们也赞了</p>
                          </div>
                          <div class="p_like_warp">
                            <a target="_blank" href="/info" title="Artand官方账号" data-card-id="131" class="btn head_p_btn head_493 padding_lr3">
                              <img data-src="//head.artand.cn/131/21/200" alter="Artand官方账号"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ajax_load_more">
                    <div class="text_forms discover_load">
                      <a href="javascript:;" class="btn btn_big btn_ash load-more" data-url="/chat/home" title="查看更多">查看更多</a></div>
                  </div>
                </div>
                <div class="right_feed ">
                  <div class="right_f_warp animation">
                    <div class="box_warp margin_b20 right_user height_129">
                      <div class="right_fix box_warp_fix">
                        <div class="name clearfix">
                          <div class="head">
                            <a class="btn" href="/uid/555222" title="137****5080">
                              <img src="//head.artand.cn/455222/200"></a>
                          </div>
                          <div class="text">
                            <div class="top">
                              <div>
                                <a class="btn black" title="137****5080" href="/uid/555222">137****5080</a></div>
                              <p>
                                <a class="btn href_gr" href="/uid/555222">artand.cn/uid/555222</a></p>
                            </div>
                          </div>
                        </div>
                        <div class="right_btn_f">
                          <a class="btn btn_work" href="/write/index">
                            <span class="icon"></span>发作品</a>
                          <a target="_blank" class="btn margin_l2 btn_new" href="/uid/555222/article/write">
                            <span class="icon"></span>发文章</a>
                        </div>
                      </div>
                    </div>
                    <div class="box_warp border_none margin_b20">
                      <div class="meed_box">
                        <div class="meed_a_box">
                          <a class="btn stats_aid" target="_blank" data-aid="28" href="http://artand.cn/event/100379">
                            <img src="https://shopjs.artand.cn/images/up/FuXw13fMazTWTAso3HxheNWPBaIo.jpeg" style="max-width:100%;width:300px;"></a>
                        </div>
                      </div>
                    </div>
                    <div class="box_warp margin_b20 height_374px">
                      <div class="meed_box">
                        <div class="meed_top">
                          <p>推荐艺术家</p>
                          <a class="more btn" href="/featured/recommend">更多</a></div>
                        <div class="meed_row">
                          <div class="meed_row_box clearfix border_b_d">
                            <div class="head">
                              <a href="/yuanyuan" class="head_btn">
                                <img data-src="//head.artand.cn/2349/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="2349"></a>
                            </div>
                            <div class="text">
                              <div class="top">
                                <div>
                                  <a class="btn black" data-card-id="2349" href="/yuanyuan">媛媛</a>
                                  <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                                </div>
                                <p class="padding_t15">作品
                                  <span class="red">26</span>，粉丝
                                  <span class="red">162</span></p>
                              </div>
                            </div>
                            <div class="gz_r_bt"></div>
                          </div>
                          <div class="meed_row_box clearfix border_b_d">
                            <div class="head">
                              <a href="/uid/558029" class="head_btn">
                                <img data-src="//head.artand.cn/458029/81/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="458029"></a>
                            </div>
                            <div class="text">
                              <div class="top">
                                <div>
                                  <a class="btn black" data-card-id="458029" href="/uid/558029">韩雪松</a>
                                  <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                                </div>
                                <p class="padding_t15">作品
                                  <span class="red">13</span>，粉丝
                                  <span class="red">51</span></p>
                              </div>
                            </div>
                            <div class="gz_r_bt"></div>
                          </div>
                          <div class="meed_row_box clearfix border_b_d">
                            <div class="head">
                              <a href="/hejiongjie" class="head_btn">
                                <img data-src="//head.artand.cn/430267/39/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="430267"></a>
                            </div>
                            <div class="text">
                              <div class="top">
                                <div>
                                  <a class="btn black" data-card-id="430267" href="/hejiongjie">何炯杰</a>
                                  <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                                </div>
                                <p class="padding_t15">作品
                                  <span class="red">19</span>，粉丝
                                  <span class="red">77</span></p>
                              </div>
                            </div>
                            <div class="gz_r_bt"></div>
                          </div>
                          <div class="meed_row_box clearfix border_b_d">
                            <div class="head">
                              <a href="/uid/532941" class="head_btn">
                                <img data-src="//head.artand.cn/432941/64/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="432941"></a>
                            </div>
                            <div class="text">
                              <div class="top">
                                <div>
                                  <a class="btn black" data-card-id="432941" href="/uid/532941">义通</a>
                                  <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                                </div>
                                <p class="padding_t15">作品
                                  <span class="red">33</span>，粉丝
                                  <span class="red">135</span></p>
                              </div>
                            </div>
                            <div class="gz_r_bt"></div>
                          </div>
                          <div class="meed_row_box clearfix border_b_d hide">
                            <div class="head">
                              <a href="/4n2v3x" class="head_btn">
                                <img data-src="//head.artand.cn/25281/57/200" src="http://static.artandus.com/_.gif" class="head" data-card-id="25281"></a>
                            </div>
                            <div class="text">
                              <div class="top">
                                <div>
                                  <a class="btn black" data-card-id="25281" href="/4n2v3x">洪有彩</a>
                                  <a title="认证艺术家" class="approve-btn-a btn approve" href="/verify"></a>
                                </div>
                                <p class="padding_t15">作品
                                  <span class="red">199</span>，粉丝
                                  <span class="red">573</span></p>
                              </div>
                            </div>
                            <div class="gz_r_bt"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box_warp border_none margin_b20">
                      <div class="meed_box">
                        <div class="meed_a_box">
                          <a class="btn stats_aid" data-aid="" href="http://artand.cn/mobile">
                            <img src="https://shopjs.artand.cn/images/up/FiZNPUChceU4NuLre7gWElmH63dQ.jpeg" style="max-width:100%;width:300px;"></a>
                        </div>
                      </div>
                    </div>
                    <div class="box_warp margin_b20 right_share height_395" style="visibility:hidden;">
                      <div class="two_code right_fix box_warp_fix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='//js.artand.cn/minify/chat/home_949655.js'></script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?40e8d3233d2e7f2696cdcce5c70c60c5";
        var s = document.getElementsByTagName("script")[0];
        s.async = true;
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>